h1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}



.animation{
    background-image: "../assets/pictures/background_parallax.png";
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.human{
    height: 40vh;
    top: 30%;
    left: 0%;
    position: absolute;
}

